@import '../../../../sass/variables/colors.sass'
@import '../../../../sass/variables/mixins.sass'
@import '../../../../sass/media-queires/media'

.state-weather
    background: $background-weather-code
    @include flex-Vcenter-Hcenter
    &__img-box
        width: 100%
        overflow: hidden
        text-align: center
    &__img
        margin: 0 auto
        width: 80%
        filter: $drop-shadow-weather-code
        @include respond(phone-first)
            width: 100%
