.location
    display: grid
    grid-template-columns: 1fr 6fr
    padding: 1rem
    &__img-box
        // @include flex-Vcenter-Hend
    &__img
        width: 80%
    &__text-box
        // @include flex-Vcenter-Hstart
    &__text
