$color1: #F5F6EF
$color2: #E6E32B
$color3: #7C7C7F
$color4: #2B2B2B
$color5: #24A1AB
$color6: #5DD3BD

$color-1: #F2E205
$color-2: #F2CB05
$color-3: #F2522E
$color-4: #0D0D0D
$color-5: #5FD9C2
$color-6: #1BCBD3
$details-bacground-color: #50ffff
$week-selected-background-color: #50ffff
$week-unselected-background-color: #5ced18
$part-selected-background-color: #fdfb81
$part-unselected-background-color: #df18ed
$loader-background-color: #686563
$hour-background-color1: #999897
$hour-background-color2: #DDDAD7

//Body
$background-body: #F2E205
$background-linear-body: radial-gradient(circle, #fff23c 0%, #fff23f 70%, #fbff02 100%)
//Day of Week
$box-shadow-day: inset 0 0 5px 5px rgba(0,0,0,0.2)
$background-day: #5FD9C2
$drop-shadow-day: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-day: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-day: 600
$background-day-active: #fef13a

//Hours Of Day
$background-hours-of-day: #000000d7
$box-shadow-hours-of-day: inset 0 0 10px 5px rgba(0,0,0,0.5)

//Hour
$background-hour: #5FD9C2
$box-shadow-hour-box: inset 0 0 5px 3px rgba(0, 0, 0, 0.452)
$drop-shadow-hour: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-hour: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-hour: 600
$background-hour-active: #fef13a
$filter-hour-passed: brightness(0.7)

//Parts Of Day
$background-parts-of-day: #000000d7
$box-shadow-parts-of-day: inset 0 0 10px 5px rgba(0,0,0,0.5)
//Part
$background-part: #5FD9C2
$box-shadow-part-box: inset 0 0 5px 3px rgba(0, 0, 0, 0.452)
$drop-shadow-part: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-part: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-part: 600

// $box-shadow-hour: (0px 0px 50px rgba(0, 0, 0, 0.612))
$background-part-active: #fef13a
$filter-part-passed: brightness(0.7)

//Other Indicators
// $background-other-indicators: #2b2b2b81
$background-other-indicators: #2b2b2b00
$box-shadow-other-indicators: inset 0 0 5px 5px rgba(0,0,0,0.2)
$box-shadow-other-indicators: none
// $drop-shadow-other-indicators: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.379))
// $text-shadow-other-indicators: 4px 4px 10px rgba(3, 3, 3, 0.21)
// $font-weight-other-indicators: 600
$color-other-indicators: #F5F6EF

//Indicator
$background-indicator: transparent
$box-shadow-indicator: inset 0 0 5px 5px rgba(0,0,0,0.2)
$box-shadow-indicator: none
$text-shadow-indicator: 1px 4px 4px rgba(0, 0, 0, 0.85)
$drop-shadow-indicator: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$font-weight-indicator: 600

//Temperature
// $background-temperature: #ffffff
$background-temperature: transparent
// $box-shadow-temperature: inset 0 0 5px 5px rgba(0,0,0,0.2)
$box-shadow-temperature: none
$text-shadow-temperature: 1px 4px 4px rgba(0, 0, 0, 0.85)
// $text-shadow-temperature: #1a838d 0.1rem 0.1rem 0, #1a838d 0.2rem 0.2rem 0, #1a838d 0.3rem 0.3rem 0, #1a838d 0.4rem 0.4rem 0, #1a838d 0.5rem 0.5rem 0, #1a838d 0.6rem 0.6rem 0, #1a838d 0.7rem 0.7rem 0, #1a838d 0.8rem 0.8rem 0, #1a838d 0.9rem 0.9rem 0, #1a838d 0.1rem 0.1rem 0
$drop-shadow-temperature: drop-shadow(1px 4px 4px rgb(0, 0, 0))
$color-temperature: #F5F6EF

//Weather Code
$drop-shadow-weather-code: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$background-weather-code: transparent

//Toggle
$background-toggle: transparent
$drop-shadow-toggle: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$background-toggle-back: -webkit-linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 100%, 0.1)), -webkit-linear-gradient(left, #F5F6EF 50%, #24A1AB 50%),-webkit-linear-gradient(left, #F5F6EF 50%, #24A1AB 50%)
$background-toggle-front: #eee
$color-toggle: #F5F6EF

//Day Status
$background-day-status__test: transparent
$background-day-status: transparent
$text-shadow-day-status: 1px 4px 4px rgba(0, 0, 0, 0.85)
$font-weight-day-status: 600
$drop-shadow-day-status: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.379))
// $font-weight-day-status: 600
$box-shadow-day-status: inset 0 0 5px 3px rgba(0, 0, 0, 0.452)
$box-shadow-day-status: none
$color-day-status: #F5F6EF
$color-day-status-phone: #5DD3BD
// $background-indicator: transparent

//Location Town
$background-location__test: transparent
$drop-shadow-location: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$font-weight-location: 600
$text-shadow-location: -1px -2px 4px rgba(0, 0, 10, 0.85)
$color-location: #F5F6EF

// $background-indicator: transparent

//Neme Weather
$color-name-weather-left-text: #ffee00
$color-name-weather-right-text: #5FD9C2
$background-name-weather: transparent
$background-name-weather-text: #000000

//Details
$background-details: #000000d7
// $drop-shadow-location: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.792))
// $font-weight-location: 600
// $text-shadow-location: 4px 4px 10px rgba(3, 3, 3, 0.468)

//Hamburger
$background-hamburger: transparent
$color-hamburger: #F5F6EF

//Return
$drop-shadow-return: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
