$color1: #F2E205
$color2: #F2CB05
$color3: #F2522E
$color4: #0D0D0D
$color5: #5FD9C2
$details-bacground-color: #50ffff
$week-selected-background-color: #50ffff
$week-unselected-background-color: #5ced18
$part-selected-background-color: #fdfb81
$part-unselected-background-color: #df18ed
$loader-background-color: #686563
$hour-background-color1: #999897
$hour-background-color2: #DDDAD7

//Day of Week
$box-shadow-day: inset 0 0 5px 5px rgba(0,0,0,0.2)
$background-day: #5FD9C2
$drop-shadow-day: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-day: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-day: 600
$background-day-active: #fef13a
//Hours Of Day
$background-hours-of-day: #0d0d0d91
$box-shadow-hours-of-day: inset 0 0 10px 5px rgba(0,0,0,0.5)
//Hour
$background-hour: #5FD9C2
$box-shadow-hour-box: inset 0 0 5px 3px rgba(0, 0, 0, 0.452)
$drop-shadow-hour: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-hour: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-hour: 600
$background-hour-active: #fef13a
$filter-hour-passed: brightness(0.7)

//Parts Of Day
$background-parts-of-day: #0d0d0d91
$box-shadow-parts-of-day: inset 0 0 10px 5px rgba(0,0,0,0.5)
//Part
$background-part: #5FD9C2
$box-shadow-part-box: inset 0 0 5px 3px rgba(0, 0, 0, 0.452)
$drop-shadow-part: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.85))
$text-shadow-part: 4px 4px 10px rgba(3, 3, 3, 0.21)
$font-weight-part: 600

// $box-shadow-hour: (0px 0px 50px rgba(0, 0, 0, 0.612))
$background-part-active: #fef13a
$filter-part-passed: brightness(0.7)
