@import '../../../../sass/variables/colors.sass'
@import '../../../../sass/variables/mixins.sass'
@import '../../../../sass/media-queires/media'
.temperature-main
    // display: grid
    // grid-template-columns: 1fr 1fr
    border-radius: 1rem
    box-shadow: $box-shadow-temperature
    background: $background-temperature
    padding: 0.2rem 0.5rem
    overflow: hidden
    &__quantity
        @include flex-Vcenter-Hend
        margin: 0
        padding-right: 0

    &__text
        color: $color-temperature
        @include flex-Vcenter-Hend
        font-size: 6.5rem
        margin-bottom: 2.1rem
        text-shadow: $text-shadow-temperature
        @include respond(phone-first)
            font-size: 5.5rem
            margin-bottom: .8rem

    &__img-box
        display: flex
        align-items: center
        // padding: 2rem 1rem 1rem 1rem
    &__img
        width: 100%
        filter: $drop-shadow-temperature
        @include respond(phone-first)
            width: 90%
